body{
     background-color: black;
}

/** Selectores de Css */
/* !Un selector de CSS selecciona los elementos HTML a los que desea aplicar estilo. */
/* !Podemos dividir los selectores de CSS en cinco categorías: */

/* _Selectores simples (seleccione elementos según el nombre, la identificación, la clase) */
/* _Selectores de combinador (seleccione elementos en función de una relación específica entre ellos) */
/* _Selectores de pseudoclase (seleccionar elementos basados ​​en un cierto estado) */
/* _Selectores de pseudoelementos (seleccionar y aplicar estilo a una parte de un elemento) */
/* _Selectores de atributos (seleccione elementos basados ​​en un atributo o valor de atributo) */

/** Selector de elemento */
 /* _aca seleccionamos el elemento que queremos darle estilos del html */
 /* p{
     color: red;
 }

 h2{
     color: white;
 } */

 /* *El selector de id de CSS */
 /* !El selector de id utiliza el atributo id de un elemento HTML para seleccionar un elemento específico. */
 /* _La identificación de un elemento es única dentro de una página, por lo que el selector de identificación se utiliza para seleccionar un elemento único. */
 /* !Para seleccionar un elemento con una identificación específica, escriba un carácter de almohadilla (#), seguido de la identificación del elemento. */

 /* *Ejemplo */

 /* #title{
     background-color: yellow;
 } */

 /* *El selector de clases CSS */
 /* !El selector de clases selecciona elementos HTML con un atributo de clase específico. */
 /* _Para seleccionar elementos con una clase específica, escriba un punto (.), Seguido del nombre de la clase. */

 /* *Ejemplo */
 /* .paragraph{
     background-color: cyan;
 } */

 /** Selector de elemento concedido por una misma clase */
 /* _Se veran afectados todos los elementos p, que tengan como nombre de clase center, los demas elementos con clase center, distintos al llamado o p, no se veran afectados */
 /** Ejemplo */
 /* p.center{
     background-color: magenta;
     font-size:52px;
 } */

 /*! OJO : EL NOMBRE DE UNA CLASE NO PUEDE COMENZAR POR UN NUMERO ES LEY ESO */

 /** El selector universal de CSS */
 /* _El selector universal, selecciona a todos los elementos del html o de la pagina misma */
 /** Ejemplo */
 /* (*){
     color:white;
     margin:120px;
 } */

 /* *El selector de agrupación CSS */
 /*_ El selector de agrupación selecciona todos los elementos HTML con las mismas definiciones de estilo. */
 /* !Será mejor agrupar los selectores para minimizar el código. */
/* _Para agrupar selectores, separe cada selector con una coma. */
/** Ejemplo */
    /* h1, h2, p {
        text-align: center;
        color: red;
    } */

    /* *Colores Rgb */
    /* _Un valor de color RGB representa fuentes de luz ROJA, VERDE y AZUL. */
    /* ?Cada parámetro (rojo, verde y azul) define la intensidad del color entre 0 y 255. */

    /* *ejemplo */

    .canvas{
        width:100px;
        height:100px;
        background-color:rgba(60, 80, 250, 0.4);
    }

    /* *Color Rgba */
    /* _Los valores de color RGBA son una extensión de los valores de color RGB con un canal alfa, que especifica la opacidad de un color. */
    /* ?rgba ( rojo, verde , azul, alfa ) */
    /* _El parámetro alfa es un número entre 0.0 (totalmente transparente) y 1.0 (nada transparente): */
